<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
<title>教学特色</title>
<link rel="stylesheet" type="text/css" href="/static/Pc/css/reset_min.css">
<link rel="stylesheet" type="text/css" href="/static/Pc/css/index.css">
<script type="text/javascript" src="/static/Pc/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/Pc/js/index.js"></script>
</head>
<body>
<!--返回顶部-->
<div class="back-top">
	<a href="javascript:;" class="iconfont" title="返回顶部">&#xe603;</a>
</div>
<!--头部-->
<div class="header">
    <div class="center-auto">
        <div class="logo">
            <img src="{$logo.logo_top}" />
        </div>
        <div class="nav">
            <ul>
                <li><a href="/index.php/index/Pc/index">网站首页</a></li>
                <li>
                	<a href="/index.php/index/Pc/aboutWe">关于我们</a>
                </li> 
                <li class="on">
                	<a href="/index.php/index/Pc/teaching">
                    	教学特色<i class="iconfont">&#xe620;</i></a> 
                    <div class="nav-menu">
                        <dl>
                            {volist name='nav' id='list'}
                            <dd><a href="{$list.nav_src}">{$list.nav_name}</a></dd>
                            {/volist}
                        </dl>
                    </div>                    
                 </li> 
                <li>
                	<a href="/index.php/index/Pc/information?ret_state=0"> 
                    	教育资讯<i class="iconfont">&#xe620;</i></a>
                    <div class="nav-menu">
                        <dl>
                           {volist name='navTwo' id='list'}
                           <dd><a href="{$list.nav_src}">{$list.nav_name}</a></dd>
                           {/volist}
                        </dl>
                    </div>                    
                 </li> 
                <li><a href="/index.php/index/Pc/contactWe">联系我们</a></li> 
            </ul>
        </div>
    </div>
</div>
<div class="about-us clearfix">
	<h4>教学特色</h4>
</div>
<div class="tese-tab clearfix">
    <a href="/index.php/index/Pc/teaching" class="on">全天候，随时可学</a>
    <a href="/index.php/index/Pc/teachingA">“沉浸式”，外教1对1</a>
    <a href="/index.php/index/Pc/teachingB">个性化，因材施教</a>
    <a href="/index.php/index/Pc/teachingC">名师教，保障效果</a>
</div>
<div class="about-title clearfix">
	<h5>{$tea.teachers_title}</h5>
    <p>{$tea.teachers_brief}</p>
</div>
<div class="h-line clearfix"></div>
<div class="teaching-a clearfix">
	<p>{$tea.teachers_content}</p>
    <img src="{$tea.teachers_image}" /> 
</div>
<!--脚部-->
<div class="footer">
	<div class="foot-t clearfix">
        <div class="foot-t-l">
        	<h5><img src="{$logo.logo_bottom}" /></h5>
            <p>{$slo.slogan_content}</p>
        	<div class="link-icon">
                <a href="javascript:;" class="iconfont">&#xe611;</a>
                <a href="javascript:;" class="iconfont qq">&#xe612;</a>
                <a href="javascript:;" class="iconfont wb">&#xe613;</a>
            </div>
        </div> 
        <div class="foot-t-r">
			<h6>Contact</h6>
            <p><i class="iconfont">&#xe634;</i>{$slo.slogan_address}</p>
            <p><i class="iconfont">&#xe636;</i>{$slo.slogan_phone}</p>
            <p><i class="iconfont">&#xe635;</i><a href="{$slo.slogan_email_src}">{$slo.slogan_email}</a></p>
        </div>
    </div>
    <div class="foot-b">
    	<h4>{$slo.slogan_copyright}</h4>
    	<p>本页面内容为网站演示数据，前台页面内容都可以在后台修改。</p>
    	<p>{$slo.slogan_edition}<a href="{$slo.slogan_src}">{$slo.slogan_a}</a>{$slo.slogan_number}</p>
    </div>
</div>
</body>
</html>
